* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.container {
  width: 80%;
  margin: 0 auto;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

header {
  height: 135px;
}

.header-top {
  background-color: #0082f9;
  text-align: right;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 12px;
  padding: 5px;
}

.header-top .header-text span {
  padding: 10px;
}

.header-bottom {
  padding: 10px 0;
}

.header-bottom .container.flex {
  justify-content: space-between;
  align-items: center;
}

.header-bottom .container.flex .logo {
  width: 90px;
  display: inline-block;
}

.header-bottom .menu-container {
  font-size: 12px;
  font-weight: 600;
}

.header-bottom .menu-container .link a {
  padding: 5px;
  color: #496782;
  cursor: pointer;
}

.header-bottom .menu-container #shop-chevron {
  color: #0082f9;
}

.header-bottom .search-barr input {
  border: none;
  text-align: right;
  border-bottom: 2px solid #0082f9;
  color: black;
}

.jambotron .jambotron-img {
  width: 1440px;
  height: 330px;
}

.comics-container {
  background-color: #1c1c1c;
  padding: 60px 0px;
  position: relative;
}

.comics-container .container.flex {
  flex-wrap: wrap;
}

.comics-container .container.flex .route-link {
  display: contents;
}

.comics-container .container.flex .card {
  width: calc(16.6666666667% - 10px);
  margin: 5px;
}

.comics-container .container.flex .card .card-img {
  height: 170px;
  -o-object-position: top;
     object-position: top;
}

.comics-container .container.flex .card .card-title {
  color: #ffffff;
  font-size: 13px;
  padding: 7px 0;
}

.comics-container .current-series {
  position: absolute;
  top: -20px;
  left: 126px;
  background-color: #0082f9;
  color: #ffffff;
  padding: 10px;
  font-size: 20px;
}

.comics-container .comics-container-button {
  text-align: center;
  margin-top: 20px;
}

.comics-container .comics-container-button .loading {
  padding: 7px 10px;
  background-color: #0082f9;
  border: none;
}

.comics-container .comics-container-button .loading a {
  color: #ffffff;
}

.section-buy {
  background-color: #0082f9;
}

.section-buy .container {
  padding: 20px 0px;
}

.section-buy .container .section-buy-list.flex {
  justify-content: space-between;
}

.section-buy .container .section-buy-list.flex .section-buy-item.flex {
  align-items: center;
  text-align: center;
}

.section-buy .container .section-buy-list.flex .section-buy-item.flex img {
  width: 60px;
}

.section-buy .container .section-buy-list.flex .section-buy-item.flex .section-buy-text {
  color: #ffffff;
  padding-left: 20px;
}

footer {
  background-color: #303030;
}

.container .footer.flex {
  overflow: hidden;
}

.container .col {
  width: 10%;
}

.container .col h4 {
  color: white;
  padding: 10px;
}

.container .col li {
  padding: 5px 10px;
}

.container .col li a {
  color: #62788a;
  font-size: 13px;
}

.container .col ul li:hover a {
  color: white;
}

.container .footer-img {
  width: 38%;
  position: relative;
}

.container .footer-img img {
  position: absolute;
  top: -45px;
  right: -296px;
}

.container .footer-bottom.flex {
  height: 80px;
  background-color: #303030;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}

.container .footer-bottom.flex button {
  border: none;
}

.container .btn {
  color: white;
  border: 2px solid #0082f9;
  padding: 10px;
  font-size: 13px;
  background-color: #303030;
  font-weight: 700;
}

.container .social-list {
  align-items: center;
  padding-left: 20px;
}

.container .social {
  width: 45px;
  padding: 0 5px;
}

.container h3 {
  color: #0082f9;
  font-size: 15px;
  line-height: 80px;
}

.single {
  padding-top: 345px;
  padding-bottom: 5px;
  position: relative;
}

.single .blu-line {
  height: 90px;
  width: 100%;
  background-color: #0082f9;
  color: #0082f9;
  position: absolute;
  top: 265px;
}

.buy {
  padding-bottom: 40px;
}

.container {
  position: relative;
  padding: 5px;
}

.container .single-img {
  position: absolute;
  width: 140px;
  top: -250px;
  left: 180px;
}

.container .container-info.flex {
  width: 70%;
  margin: 0 auto;
  justify-content: space-between;
}

.container .container-info.flex .single-comics-info {
  width: 75%;
}

.container .container-info.flex .single-comics-info h1 {
  font-size: 24px;
  padding: 10px 0;
}

.container .container-info.flex .single-comics-info .info-shop .container-price-status.flex {
  justify-content: space-between;
  width: 77%;
  background-color: #53ba57;
  border-right: 1px solid #3c8841;
  border-bottom: 1px solid #3c8841;
}

.container .container-info.flex .single-comics-info .info-shop .container-price-status.flex .price,
.container .container-info.flex .single-comics-info .info-shop .container-price-status.flex .status {
  padding: 8px 18px;
  color: #ffffff;
  font-size: 13px;
}

.container .container-info.flex .single-comics-info .info-shop .check-availability a {
  padding: 8px;
  font-size: 13px;
  color: #ffffff;
  background-color: #53ba57;
  border-bottom: 1px solid #3c8841;
  display: inline-block;
}

.container .container-info.flex .single-comics-info .info-shop .check-availability a:hover {
  color: #0082f9;
}

.container .container-info.flex .single-comics-info .description {
  padding: 10px 10px 0 0;
  font-size: 13px;
  color: #7a6e75;
}

.container .container-info.flex .advertiment {
  width: 25%;
  text-align: end;
  color: #7a6e75;
  font-size: 13px;
  padding: 5px 0;
}

.exposure {
  background-color: #f6f6f6;
}

.exposure .container-exposure.flex {
  width: 55%;
  margin: 0 auto;
  background-color: #f6f6f6;
}

.exposure .container-exposure.flex .title {
  padding: 10px 0 10px 0;
  color: #264e63;
  font-size: 15px;
}

.exposure .container-exposure.flex .col-left {
  padding-right: 20px;
}

.exposure .container-exposure.flex .participation {
  padding-right: 15px;
}

.exposure .container-exposure.flex .participation .artist.flex {
  border-top: 1px solid #e6e6e6;
  padding: 15px 0;
  border-bottom: 1px solid #e6e6e6;
}

.exposure .container-exposure.flex .participation .label {
  padding-right: 10px;
  color: #264e63;
  width: 40%;
}

.exposure .container-exposure.flex .writers.flex {
  padding: 10px 0;
  border-bottom: 1px solid #e6e6e6;
}

.exposure .container-exposure.flex .col-left,
.exposure .container-exposure.flex .col-right {
  width: 50%;
  font-size: 13px;
}

.exposure .container-exposure.flex .col-right {
  padding-left: 20px;
}

.exposure .container-exposure.flex .series.flex {
  border-top: 1px solid #e6e6e6;
  padding: 15px;
  border-bottom: 1px solid #e6e6e6;
  justify-content: space-between;
}

.exposure .container-exposure.flex .speces-to-buy.flex {
  padding: 15px;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
}

