footer{
    background-color: #303030;
}
.container{

    .footer.flex{
        overflow: hidden;
    }
    .col{
        width: 10%;
    }
    .col h4{
        color: white;
        padding: 10px;
    }
    .col li{
        padding: 5px 10px;
    }
    .col li a{
        color: #62788a;
        font-size: 13px;
    }
    .col ul li:hover a{
        color: white;
    }
    .footer-img{
        width: 38%;
        position: relative;
    }.footer-img img{
        position: absolute;
        top: -45px;
        right: -296px;
    }
    .footer-bottom.flex{
        height: 80px;
        background-color: #303030;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0px;
        button{
            border: none;
        }
    }.btn{
        color: white;
        border: 2px solid $main_color;
        padding: 10px;
        font-size: 13px;
        background-color:#303030;
        font-weight: 700;
        
    }
    .social-list{
        align-items: center;
        padding-left: 20px;
    }
    .social{
        width: 45px;
        padding: 0 5px;
       
    }
    h3{
        color: $main_color;
        font-size: 15px;
        line-height: 80px;
    }

    
}